@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: "Zen Maru Gothic", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #DC2F3F;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  padding: 0 0 40px;
  min-width: 1280px;
}

@media screen and (max-width: 736px) {
  .wrapper {
    min-width: 100vw;
  }
}